build/
build_qt/
bin/
lisp/
msg_gen/
/*/cfg/cpp/
CMakeLists.txt.user
CMakeLists.txt.user.*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.so
*.cfgc
*.pyc
.metadata/
qtcreator-build/
_*.py
*.bag
*.bak
*~
*.aux
*.cbp
/hanse_ros/hanse_depthengine/src/hanse_depthengine/cfg/DepthengineConfig.py
/hanse_gamepad/src/hanse_gamepad/cfg/GamepadNodeConfig.py
