<launch>
  <!-- ENGINE -->
  <group ns="hanse">
    <node name="orientationEngine" pkg="hanse_orientationengine" type="hanse_orientationengine" output="screen">
      <rosparam file="$(find hanse_orientationengine)/config_orientationengine.yaml"/>
    </node>
  </group>

  <!-- ORIENTATION PID -->
  <group ns="/hanse/pid/orientation">
    <node name="orientationPid" pkg="hanse_pidcontrol" type="pid_control" output="screen">
      <rosparam file="$(find hanse_orientationengine)/config_orientation_pid.yaml"/>
    </node>
  </group>

  <group ns="/hanse/commands">
    <node name="cmd_vel_mux" pkg="topic_tools" type="mux" output="screen" args="cmd_vel cmd_vel_behaviour cmd_vel_joystick mux:=cmd_vel_mux" />
  </group>
</launch>
