#! /usr/bin/env python

PACKAGE='hanse_wall_sonar'
import roslib
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
#       Name                 Type      Level    Description                    Default Min   Max
gen.add("simulation_mode_",   bool_t ,    0,    "en-/disables the simulation mode", False)
gen.add("store_time_sec_",   int_t,    0,    "Time to store sonar points.", 7,      1,    21)

exit(gen.generate(PACKAGE, "global_sonar", "global_sonar_params"))
