#! /usr/bin/env python

PACKAGE='hanse_wall_sonar'
import roslib
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
#       Name                 Type      Level    Description                    Default Min   Max
gen.add("simulation_mode_",   bool_t ,    0,    "en-/disables the simulation mode", False)
gen.add("goal_publish_rate_",   int_t,    0,    "time (in sec) between two publications of the goal", 5,      1,    10)

exit(gen.generate(PACKAGE, "wall_follow", "wall_follow_params"))
