#! /usr/bin/env python

PACKAGE='hanse_wall_sonar'
import roslib
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
#       Name				Type		Level	Description				Default	Min	Max
gen.add("simulation_mode_",		bool_t,		0,	"en-/disables the simulation mode",	False)
gen.add("boundingcircle_angle_steps_",	int_t ,		0,	"degrees between two points in circle",2,	1,	90)
gen.add("boundingcircle_radius_",	double_t,		0,	"distance to the wall.",		7,	1,	21)
gen.add("limit_lookahead_distance_",	double_t,	0,	"distance to farest point",		9999,	0,	9999)
gen.add("limit_lookahead_index_delta_",int_t,		0,	"max number of points",			40,	1,	200)
gen.add("limit_point_distance_",	double_t,	0,	"max distance between two points", 	6,	0,	50)

exit(gen.generate(PACKAGE, "wall_follow_fancy_algo", "wall_follow_fancy_algo_params"))
