<launch>
  <include file="$(find hanse_launch)/launch/wallfollowing.launch" />
  <include file="$(find hanse_launch)/launch/pipefollowing.launch" />
  <include file="$(find hanse_launch)/launch/ballfollowing.launch" />
  <include file="$(find hanse_launch)/launch/pingerfollowing.launch" />
</launch>
