<launch>
  <include ns="hanse" file="$(find hanse_sonardriver)/launch/playback_recording.launch">
    <arg name="recording" value="$(find hanse_sonardriver)/sample_recordings/italy1.852" />
  </include>
  <include ns="hanse" file="$(find hanse_sonarviz)/launch/sonarviz.launch" />
  <group>
    <remap from="/hanse/sonar/scan" to="/hanse/sonar/scan/wall_detection" />
    <remap from="/hanse/sonar/scan/viz" to="/hanse/sonar/scan/wall_detection/viz" />
    <include ns="hanse" file="$(find hanse_sonarviz)/launch/sonarviz.launch" />
  </group>
  <include ns="hanse" file="$(find hanse_sonarlocalization)/launch/online_wall_detection.launch" />
</launch>
