<launch>
  <include ns="hanse" file="$(find hanse_sonarlocalization)/launch/localization_online.launch">
    <arg name="map_image" value="$(find hanse_sonarlocalization)/maps/becken_gross_hm.jpg" />
    <arg name="map_pixel_size" value="0.15625" />
    <arg name="map_threshold" value="32" />
  </include>
  <include ns="hanse" file="$(find hanse_sonarviz)/launch/sonarviz.launch" />
  <group>
    <remap from="/hanse/sonar/scan" to="/hanse/sonar/scan/wall_detection" />
    <remap from="/hanse/sonar/scan/viz" to="/hanse/sonar/scan/wall_detection/viz" />
    <include ns="hanse" file="$(find hanse_sonarviz)/launch/sonarviz.launch" />
  </group>
</launch>
