<launch>
  <include ns="hanse" file="$(find hanse_sonarviz)/launch/sonarviz.launch" />
  <node name="echosunderviz" type="echosounder_viz" pkg="hanse_sonarviz" />
  <group ns="/hanse">
    <node name="hanse_loc_wall_markers" type="sonar_wall_markers" pkg="hanse_sonarlocalization" />
  </group>
  <group>
    <remap from="/hanse/sonar/scan" to="/hanse/sonar/scan/wall_detection" />
    <remap from="/hanse/sonar/scan/viz" to="/hanse/sonar/scan/wall_detection/viz" />
    <include ns="hanse" file="$(find hanse_sonarviz)/launch/sonarviz.launch" />
  </group>
</launch>
