<launch>

  <!-- ENGINE -->

  <group ns="hanse">
    <node name="engineControl" pkg="hanse_enginecontrol" type="engine_control" output="screen"></node>
    <rosparam file="$(find hanse_enginecontrol)/config_engine.yaml"/>
  </group>

  <!-- DEPTH PID -->
  <group ns="/hanse/pid/depth">
    <rosparam file="$(find hanse_enginecontrol)/config_depth_pid.yaml"/>
    <node name="depthPid" pkg="hanse_pidcontrol" type="pid_control" output="log"></node>
  </group>

  <!-- ROTATION SPEED PID -->

  <group ns="/hanse/pid/rotationSpeed">
    <rosparam file="$(find hanse_enginecontrol)/config_rotation_speed_pid.yaml"/>
    <node name="rotationSpeedPid" pkg="hanse_pidcontrol" type="pid_control" output="screen"></node>
  </group>

  <!-- ORIENTATION PID -->

  <group ns="/hanse/pid/orientation">
    <rosparam file="$(find hanse_enginecontrol)/config_orientation_pid.yaml"/>
    <node name="orientationPid" pkg="hanse_pidcontrol" type="pid_control" output="screen"></node>
  </group>

  <!-- XSens -->
<!--  <remap from="/imu/data" to="/hanse/imu"/>
  <node name="xsens" pkg="lse_xsens_mti" type="mti_node" output="screen"></node>
-->
</launch>
